
// import bootstrap
@import "./node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  background-color: #FBFCFE;
}

.logo {
  font-family: 'Permanent Marker', cursive;
  font-size: 3.5rem;
  color: #FFCB05;
}

.header {
  height: 15vh;
}

.form {
  position: relative;
  &__input {
    width: 100%;
    height: 70px;
    border: none;
    border-radius: 35px;
    padding: 10px 10px 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 10px 21px 9px rgba(0,0,0,0.05); 
    box-shadow: 0px 10px 21px 9px rgba(0,0,0,0.05);
    &:focus {
      outline: none;
    }
  }
  &__submit {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 50px;
    border-radius: 35px;
    background-color: #5883DA;
    color: #fff;
    border: none;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: #355daf;
    }
  }
}

.chatbox {
  width: 100%;
  @include media-breakpoint-up(md) {
      width: 50%;
  }
  min-height: 50vh;
  &__message {
    width: 100%;
    padding: 20px;
    border-radius: 35px;
    background-color: #fff;
    &:nth(:first-child) {
      background-color: rgb(255, 249, 215);
    }
    -webkit-box-shadow: 0px 10px 21px 9px rgba(0,0,0,0.05); 
    box-shadow: 0px 10px 21px 9px rgba(0,0,0,0.05);
    &__header {
      height: 30px;
      font-size: 14px;
      border-bottom: 1px solid #dee1eb;
      color: #a1aac0;
    }
    &__answer {
      padding: 20px 0;
    }
  }

}


// background-color: #ffffff;
// border-radius: 25px;
// position: relative;
// overflow: hidden;
// -webkit-box-shadow: 0px 10px 21px 9px rgba(0,0,0,0.05); 
// box-shadow: 0px 10px 21px 9px rgba(0,0,0,0.05);